= include_javascripts :subtitle_field
= form_for(@article) do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  = iframe_for_upload(new_image_path, "image_image", "new_image")
  = image_preview(@article, :image)
  #tagbox
    =render :partial => "tagboxes/field"


  =link_to "Add Subtitle", "", html_option = {:id => "add_subtitle_field"}


  .actions
    = f.submit
