= form_for(@article) do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  %button{:type => "button", :"data-select_file" => "true"}
    Select image File
  #image_loading
  = image_preview(@article, :image)
  #tagbox
    =render :partial => "tagboxes/field"

  =link_to "Add Subtitle", "", html_option = {:id => "add_subtitle_field"}


  .guide{:id => "map_guide"}
    Select location by clicking map
  #editable_map_canvas{:style => "width:400px;height:400px"}
  #geolocation_fields
    %input{:id => "article_latitude", :name => "article[latitude]", :type => "hidden"}
    %input{:id => "article_longitude", :name => "article[longitude]", :type => "hidden"}


  %iframe{:id => "forupload", :src => Rails.root + "/images/new",:"data-iframe_for_upload" => "true"}
  .actions
    = f.submit


