= include_javascripts :subtitle_view
%p#notice= notice
#image_view
  %a{:id => "nextsubtitle"}
    = tag("img", {:src => size_for_pc_image_path(@article.image) })


.subtitle
  #subtitle_view
    %p
      it's view
    - @article.subtitles.each_with_index do |subtitle, index|
      %subtitle{:id => "#{index}", :"data-text" => "#{subtitle.text}"}
  #subtitle_page_count
    %p
      (0/0)

= link_to 'Edit', edit_article_path(@article)
= link_to 'Delete', @article, :method => :delete,
    :confirm => "Are you sure you want to delete this article?"
= link_to 'Back', articles_path
