=include_javascripts :subtitle_view
=include_javascripts :subtitle_tagging
%p#notice= notice

#image_view
  = tag("img", {:id => "showimage", 
                  :src => size_for_pc_image_path(@article.image),
                  :"data-width" => @article.image.image.width.to_s,
                  :"data-height" => @article.image.image.height.to_s})

%a{:id => "trigger_tag"}
  tag
.subtitle
  #subtitle_view
    %p
    - @article.tagboxes.first.subtitles.each_with_index do |subtitle, index|
      %subtitle{:id => "#{index}", :"data-text" => "#{subtitle.text}"}
  #subtitle_page_count
    %p
      (0/0)
.area_cursor
.selected

= link_to 'Edit', edit_article_path(@article)
= link_to 'Delete', @article, :method => :delete,
    :confirm => "Are you sure you want to delete this article?"
= link_to 'Back', articles_path
