%p#notice= notice
#article_infomation
  ="author : #{@article.user.name}"

#tagbox_guide{:class => 'guide'}
#image_view
  %canvas{:id => "image_viewer",
          :width => 800,
          :height => 600,
          :"data-imgsrc" => size_for_pc_image_path(@article.image),
          :"data-taggable" => "true"}

  -@article.tagboxes.each_with_index do |tagbox, index|
    %tagbox{:id => "#{tagbox.id}", :"data-left" => "#{tagbox.left}",
                                   :"data-top" => "#{tagbox.top}",
                                   :"data-width" => "#{tagbox.width}",
                                   :"data-height" => "#{tagbox.height}"}

      #subtitles
        -tagbox.subtitles.each_with_index do |subtitle, index|
          %subtitle{:id => "#{index}", :"data-text" => "#{subtitle.text}"}


.subtitle
  #subtitle_view
    %p
  #page_view
    %p
      (0/0)

#tagbox_form

%a{:class => "button", :"data-start_tagging" => "true"}
  Start Tagging(beta)
%a{:class => "button", :"data-done_tagging" => "true"}
  Done Tagging
#map_guide
  Select location of the image
#map_canvas{:style => "width:400px;height:400px",
            :"data-latitude" => @article.latitude,
            :"data-longitude" => @article.longitude}




#subtitle_field_for_tagbox

= link_to 'Edit', edit_article_path(@article), {:class => 'round_button'}
= link_to 'Delete', @article, :method  => :delete,
  :confirm => "Are you sure you want to delete this article?", :class => 'round_button'
= link_to 'Back', articles_path, {:class => 'round_button'}

