%p#notice= notice

#image_view
  %canvas{:id => "image_viewer",
          :width => @article.image.image.width("pc"),
          :height => @article.image.image.height("pc"),
          :"data-imgsrc" => size_for_pc_image_path(@article.image),
          :"data-taggable" => "true"}

  -@article.tagboxes.each_with_index do |tagbox, index|
    %tagbox{:id => "#{tagbox.id}", :"data-left" => "#{tagbox.left}",
                                   :"data-top" => "#{tagbox.top}",
                                   :"data-width" => "#{tagbox.width}",
                                   :"data-height" => "#{tagbox.height}"}

      #subtitles
        -tagbox.subtitles.each_with_index do |subtitle, index|
          %subtitle{:id => "#{index}", :"data-text" => "#{subtitle.text}"}

%a{:"data-start_tagging" => "true"}
  Start Tagging
%a{:"data-done_tagging" => "true"}
  Done Tagging
.subtitle
  #subtitle_view
    %p
  #page_view
    %p
      (0/0)

#map_canvas{:style => "width:200px;height:200px",
            :"data-latitude" => @article.latitude,
            :"data-longitude" => @article.longitude}

#tagbox_form


#subtitle_field_for_tagbox

= link_to 'Edit', edit_article_path(@article)
= link_to 'Delete', @article, :method => :delete,
    :confirm => "Are you sure you want to delete this article?"
= link_to 'Back', articles_path
