
= form_for @tagbox, :remote => true do |f|
  .fields
    = f.hidden_field :left
    = f.hidden_field :top
    = f.hidden_field :width
    = f.hidden_field :height
    = f.hidden_field :article_id
    #subtitles
      =render :partial => "subtitles/tagbox_field"


  =link_to "Add Subtitle", "", html_option = {:id => "add_subtitle_field"}
  .actions
    = f.submit


