html = "<div class='guide'> new tagbox has been registered </p>";
$("div#tagbox_form").html(html);

sx = <%= @tagbox.left %>
sy = <%= @tagbox.top %>
ex = <%= @tagbox.left + @tagbox.width %>
ey = <%= @tagbox.top + @tagbox.height %>

tag_subtitles = new Subtitles()
<% @tagbox.subtitles.each do |subtitle| %>
  tag_subtitles.addText("<%= subtitle.text %>")
<% end %>

tagbox = new Tagbox(sx, sy, ex, ey, tag_subtitles, "<%= @tagbox.id %>");
$("div#image_view").append(tagbox.toHtml());
